.footer {
  background-color:  hsl(198, 31%, 31%);
  color: white;
  text-align: center;
  padding: 1.2rem 0;
  font-size: 0.9rem;
  margin-top: auto;
  width: 100%;
  border-top: 1px solid #ddd;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.footer-content a {
  color: white;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
  color:grey;
}

/* Make sure footer stays below content */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
}
