.header {
  background-color: hsl(198, 31%, 31%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  box-sizing: border-box;
  z-index: 1000;
}

.left-section .logo {
  height: 40px;
}
.left-section .header-link {
  display: flex;
  align-items: center;
  gap: 10px; /* space between logo and text */
  text-decoration: none; /* remove underline */
}

.logo-text {
  font-weight: bold;
  font-size: 20px; /* adjust as needed */
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* subtle shadow */
}


.middle-section {
  flex: 1;
  display:flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.right-section {
  display: flex;
  gap: 15px; /* space between links */
}

.header-item {
  display: flex;
  align-items: center;
  background-color:white;
  color: black;
  padding: 4px 17px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  gap: 11px; /* space between icon and text */
  cursor: pointer;

}

.header-item:hover {
  background-color: #bbb;
  
}

.header-item .icon {
  width: 18px;
  height: 18px;
}
