.checkout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
}

.checkout-form, .checkout-summary {
  flex: 1;
  min-width: 300px;
  background: linear-gradient(10deg, #a0cddd 50%, #f9fdff 100%);
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.checkout-form:hover, .checkout-summary:hover {
  transform: translateY(-3px);
}

.checkout-form h2, .checkout-summary h3 {
  margin-bottom: 1rem;
  color: #333;
}

.checkout-form form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkout-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border 0.2s;
}

.checkout-form input:focus {
  border-color: #0066cc;
  outline: none;
}

.save-btn {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.save-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.save-btn:hover:not(:disabled) {
  background-color: #46b173;
}

.checkout-summary {
  max-width: 350px;
}

.summary-item {
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.summary-item img {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  object-fit: cover;
}

.summary-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.summary-name {
  font-weight: 600;
  font-size: 1rem;
}

.summary-details {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.summary-details h4 {
  margin-top: 4px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #0066cc;
}

.proceed-btn {
  margin-top: 1rem;
  width: 100%;
  background-color:#09543d; 
  color: white;
  border: none;
  padding: 14px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.proceed-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.proceed-btn:hover:not(:disabled) {
  background-color:#277b62;;
}

@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
    padding: 1rem;
  }
}
